.footer {
  background-color: @dark;

  &__address {
    font-style: normal;
    color: @white;
    font-size: 16px;
    line-height: 19px;
  }

  &__phone {
    font-style: normal;
    font-size: 16px;
    color: @white;
    text-decoration: none;
  }
}
