.info {
  display: flex;
  flex-direction: column;

  &__link {
    font-family: "Raleway";
    color: @white;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin-right: 34px;
  }
}
