.pagination {
  background-color: @light-gray;

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: @dark;
    opacity: 0.3;
  }

  &__next,
  &__prev {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
    color: @black;
    opacity: 1;
  }
}
